body {
    background-color: #eee;
    color: #ffffff;
    font-size: 27px;
}

.container {
    display: grid;
    width: 90%;
    height: 90%;
    margin: auto;
    grid-template-columns: 10% 80%;
    grid-template-rows: 100px 700px 30px;
    grid-gap: 15px;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: /**/
    "hd hd hd hd hd hd hd hd"
    "main main main main main main main main"/**/
    "sd sd sd sd sd sd sd sd"/**/
    "ft ft ft ft ft ft ft ft";
    padding: 15px;
    border: 2px solid rgb(247, 182, 96);
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    padding: 5px;
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    color: white;
}

.header {
    grid-area: hd;
}

.footer {
    grid-area: ft;
}

.sidebar {
    grid-area: sd;
    display: grid;
    grid-template-rows: 100px 500px 30px;
}

.content {
    grid-area: main;
    background-image: url('images/DSC_0422.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
}

a {
    color: white;
}

a:hover {
    color: grey;
}