body {
  background-color: #fff;
  color: #000;
  font-size: 27px;
}

.container {
  display: grid;
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 15px;
  border: 2px solid #000;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 250 1fr 1fr;
  grid-gap: 15px;
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas: /**/
    "hd" /**/
    "sd" /**/
    "main" /**/
    "ft";
}

.box {
  display: flex;
  position: relative;
  border: 1px solid #000;
  padding: 10px;
}

.text {
  font: 12px, Palatino, Georgia, serif;
  font-weight: lighter;
  color: #fff;
}

.blog-samples {
  height: 90%;
  align-items: top;
}

.blog-title {
  font: 16px Verdana, Geneva, Tahoma, sans-serif;
  height: 30px;
  text-transform: uppercase;
}

.blog-intro {
  font: 12px Verdana, Geneva, Tahoma, sans-serif;
  height: 100px;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}

.more {
  font-size: 14px;
  text-align: right;
}

.header {
  grid-area: hd;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  grid-template-areas: "header";
  grid-gap: 5px;
  justify-content: center;
}

#nestedHeaderGrid {
  grid-area: header;
  display: grid;
  height: 100px;
  width: auto;
  grid-template-rows: 40% 40% 20%;
  grid-template-columns: 100%;
  grid-template-areas:
    "header-top"
    "header-middle"
    "header-bottom";
  align-items: center;
  justify-content: center;
}

#nestedMenuGrid {
  grid-area: header-middle;
  display: grid;
  height: 50%;
  width: 100%;
  grid-template-rows: 50%;
  grid-template-columns: auto auto auto auto;
  grid-template-areas:/**/ "menu1 menu2 menu3 menu4";
  align-content: center;
  justify-content: center;
}

/* HEADER */

/* TITLE */

#main-title {
  grid-area: header-top;
  text-align: center;
  height: 50%;
  color: #00b;
}

.line {
  border-bottom: 1px solid orangered;
}

.section-title {
  align-self: center;
  text-align: center;
}

/* MENU */

#main {
  grid-area: menu1;
  text-align: center;
}

#header-line {
  grid-area: header-bottom;
}

#authors {
  grid-area: menu2;
  text-align: center;
}

#popular {
  grid-area: menu3;
  text-align: center;
}

#about {
  grid-area: menu4;
  text-align: center;
}

.headerMenu {
  display: flex;
  font: 16px Palatino, Georgia, serif;
}

.footer {
  grid-area: ft;
}

.sidebar {
  grid-area: sd;
  display: flex;
}

.content {
  grid-area: main;
  position: relative;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

#nestedContentGrid {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 25% 25% 25%;
  grid-gap: 5px;
  border: 1px solid #000;
}

.blogBox {
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 250px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
  background-color: #fff;
}

/* LINKS */

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: orangered;
}

/* MEDIA QUERIES */

@media (min-width: 1100px) {
  .container {
    display: grid;
    width: 90%;
    margin: auto;
    padding: 15px;
    /*     border: 2px solid #000; */
    justify-content: center;
    grid-template-rows: 100px 700px 30px;
    grid-gap: 15px;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 10% 80%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: /**/
      "hd hd hd hd hd hd hd hd" /**/
      "sd main main main main main main main" /**/
      "ft ft ft ft ft ft ft ft";
  }

  .content {
    grid-area: main;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-areas:
      "content-top"
      "content-bottom";
    background-image: url("images/DSC_0422.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
  }

  #daily-choice {
    grid-area: content-top;
    text-align: center;
    width: 50%;
    justify-self: center;
    color: #fff;
  }

  .flexible {
    grid-area: content-bottom;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-self: center;
    border: 1px solid black;
  }

  .blogBox {
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    height: 90%;
    margin: 20px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #fff;
  }
}

@media (min-width: 1300px) {
  .container {
    display: grid;
    width: 90%;
    margin: auto;
    padding: 15px;
    border: 1.5px solid #000;
    justify-content: center;
    grid-template-rows: 100px 700px 30px;
    grid-gap: 15px;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 10% 80%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: /**/
      "hd hd hd hd hd hd hd hd" /**/
      "sd sd main main main main main main" /**/
      "ft ft ft ft ft ft ft ft";
  }
}
