@import "global.css";
@import "header.css";

.container {
  display: grid;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 15px;
  border: 1px solid #000;
  grid-template-rows: 10% fit-content;
  grid-gap: 15px;
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas: /**/
    "hd" /**/
    "main";
}

.blogbox {
  grid-area: main;
  align-self: top;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border: 1px solid #000;
  background-color: #fff;
  font: 14px/1.4 Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}

.post {
  display: block;
  height: fit-content;
}

.post-main {
  display: flex;
  height: fit-content;
  width: fit-content;
}

.post-text {
  width: 90%;
  align-self: top;
}

.author-card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 40% 60%;
  grid-template-areas: 
  "card-top-left card-top-right"
  "card-bottom card-bottom";
  width: 230px;
  height: fit-content;
  margin: 15px 0 0 20px;
  padding: 0 5px 0 5px;
  border: 1px solid #000;
}

.author-short-info {
  grid-area: card-top-left;
}

.author-foto {
  grid-area: card-top-right;
}

.author-bio {
  grid-area: card-bottom;
}

.author-info {
  font: 12px Palatino, Georgia, serif;
  text-align: left;
  hyphens: auto;
}

.by-writer {
  font: 14px Palatino, Georgia, serif;
  text-align: center;
}

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 50px;
  margin-right: 100px;
  font: 20px Palatino, Georgia, serif;
}

.social-sharing {
  display: flex;
  align-items: top;
  justify-items: baseline;
}

.social-sharing-btn {
  margin: 0 5px 0 5px;
}

/* MEDIA QUERIES */

@media (max-width: 699px) {
  .post-main {
    display: block;
    height: fit-content;
    width: fit-content;
    margin-bottom: 30px;
    justify-content: center;
  }

  .post-text {
    width: 100%;
    align-self: top;
  }

  .author-card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    "card-top-left card-top-right"
    "card-bottom card-bottom";
    width: 230px;
    height: fit-content;
    margin: 0;
    padding: 0 5px 0 5px;
    border: 1px solid #000;
  }
}

@media (min-width: 900px) {
  blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 100px;
    margin-right: 250px;
    font: 20px Palatino, Georgia, serif;
  }

  .columns {
    column-count: 2;
    column-gap: 20px;
  }
}

@media (min-width: 1100px) {
  .container {
    display: grid;
    width: fit-content;
    margin: auto;
    padding: 15px;
    justify-content: center;
    grid-template-rows: 100px 1fr;
    grid-gap: 15px;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: /**/
      "hd" /**/
      "main";
  }

  .content {
    grid-area: main;
    display: flex;
    align-items: center;
  }

  .blogbox {
    align-items: center;
    justify-content: center;
    width: 90%;
    height: fit-content;
    margin: 0 60px 0 60px;
    padding: 0 20px 20px 20px;
    border: 1px solid #000;
    background-color: #fff;
    font: 14px/1.4 Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
  }

  .post {
    display: block;
    height: 80%;
  }
}

@media (min-width: 1200px) {
  .container {
    display: grid;
    width: fit-content;
    margin: auto;
    padding: 15px;
    border: 1.5px solid #000;
    justify-content: center;
    grid-template-rows: 100px 1fr;
    grid-gap: 15px;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: /**/
      "hd" /**/
      "main";
  }
  
  .columns {
    column-count: 3;
    column-gap: 20px;
  }
}

@media (min-width: 1500px) {
  .container {
    display: grid;
    width: fit-content;
    margin: auto;
    padding: 15px;
    border: 1.5px solid #000;
    justify-content: center;
    grid-template-rows: 100px 1fr;
    grid-gap: 15px;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: /**/
      "hd" /**/
      "main";
  }
}